.center {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1355px;
  padding: 0 20px;
  position: relative;

  &--narrow {
    max-width: 811px;
  }

  /*&--skew {
   @media (--laptop-up) {
     padding: 0;
   }
  
   @media (--desktop-up) {
     right: 83px;
   }
  }*/
}
