.socials {
  margin: 0 -4px;

  &__icon {
    margin: 0 4px;
    width: 38px;
    height: 37px;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon-path {
    fill: #131313;
  }
}