.title {
  font: 400 38px/1.2 'Blacker Pro', serif;
  text-transform: uppercase;

  @media (--laptop-up) {
    font-size: 42px;
  }

  @media (--desktop-up) {
    font-size: 52px;
  }

  &--s {
    font-size: 28px;

    @media (--laptop-up) {
      font-size: 32px;
    }

    @media (--desktop-up) {
      font-size: 32px;
    }
  }
}
