:root {
    --max-mobile-width: 767px;
    --min-tablet-width: 768px;
    --max-tablet-width: 998px;
    --min-laptop-width: 999px;
    --max-laptop-width: 1199px;
    --min-desktop-width: 1200px;
    --max-desktop-width: 1599px;
    --min-hd-width: 1600px;
    --sal-duration: 0.5s;
}

.edit-post-visual-editor.editor-styles-wrapper {
    /*overflow-x: hidden; */
}

.block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout.is-root-container {
    background: #fff;
    color: #000;
    font: 400 14px / 1.666 Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    /* Copied form basic.pcss */
}

@media (min-width: 768px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 16px;
    }
}

@media (min-width: 999px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 20px;
    }
}

.block-editor-block-list__layout.is-root-container input,
.block-editor-block-list__layout.is-root-container button {
    font: inherit;
    letter-spacing: inherit;
}

.block-editor-block-list__layout.is-root-container a:not(.acf-button):not(.acf-icon):not(.btn) {
    color: inherit;
    transition: .2s color ease-in-out;
    text-decoration: underline;
}

.block-editor-block-list__layout.is-root-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-editor-block-list__layout.is-root-container ::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container ::selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container .wrapper {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.block-editor-block-list__layout.is-root-container .anchor {
    display: block;
    line-height: 30px;
    opacity: 0.5;
    padding: 10px;
}

.wp-block {
    max-width: 1580px;
}

.wp-block[data-align=wide] {
    max-width: 1580px;
}

html .edit-post-visual-editor .hide {
    display: none !important;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 998px) {
    html .edit-post-visual-editor .hide-tablet {
        display: none !important;
    }
}

@media (min-width: 999px) and (max-width: 1199px) {
    html .edit-post-visual-editor .hide-laptop {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html .edit-post-visual-editor .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 1600px) {
    html .edit-post-visual-editor .hide-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .text-left {
    text-align: left;
}

html .edit-post-visual-editor .text-center {
    text-align: center;
}

html .edit-post-visual-editor .text-right {
    text-align: right;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .show-mobile {
        display: none !important;
    }
}

@media (max-width: 767px), (min-width: 999px) {
    html .edit-post-visual-editor .show-tablet {
        display: none !important;
    }
}

@media (max-width: 998px), (min-width: 1200px) {
    html .edit-post-visual-editor .show-laptop {
        display: none !important;
    }
}

@media (max-width: 1199px), (min-width: 1600px) {
    html .edit-post-visual-editor .show-desktop {
        display: none !important;
    }
}

@media (max-width: 1599px) {
    html .edit-post-visual-editor .show-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .center {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1355px;
    padding: 0 20px;
    position: relative;
}

html .edit-post-visual-editor .logo {
    font-family: 'Antiqua', serif;
    font-weight: 400;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: inherit;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo {
        flex-direction: row;
        padding: 14px 0 12px;
    }
}

html .edit-post-visual-editor .logo__main {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.026em;
    padding-bottom: 1px;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__main {
        margin-right: 7px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__seconadary {
        font-size: 12px;
        padding-top: 5px;
    }
}

html .edit-post-visual-editor .logo-small {
    opacity: 0;
    margin-right: 38px;
    font-family: 'Antiqua', serif;
    font-size: 22px;
    letter-spacing: 0.026em;
    line-height: 1.1;
    font-weight: 400;
    transition: opacity .3s, visibility 0s .3s;
    position: absolute;
    visibility: hidden;
    top: 60px;
}

@media (max-width: 1199px) {
    html .edit-post-visual-editor .logo-small {
        display: none;
    }
}

html .edit-post-visual-editor .title {
    font: 500 38px/1.2 'Antiqua', serif;
    text-transform: uppercase;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .title {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .title {
        font-size: 52px;
    }
}

html .edit-post-visual-editor .wysiwyg-content h2 {
    font: 600 28px/1.2 'Cormorant Garamond', serif;
}

html .edit-post-visual-editor .wysiwyg-content h3 {
    font-size: 18px;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn) {
    font-weight: 600;
    position: relative;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #8FCDB8;
    transition: transform .2s ease;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):hover:before {
    transform: translateY(-2px) scaleY(1.5);
}

html .edit-post-visual-editor .wysiwyg-content ul li {
    position: relative;
    padding-left: 22px;
}

html .edit-post-visual-editor .wysiwyg-content ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 11px;
    height: 12px;
    background: url("images/list-shape.png") no-repeat center/contain;
}

html .edit-post-visual-editor .wysiwyg-content ol li {
    margin: 0 0 21px 20px;
}

html .edit-post-visual-editor .wysiwyg-content ol li:last-child {
    margin-bottom: 0;
}

html .edit-post-visual-editor .wysiwyg-content img {
    display: block;
}

html .edit-post-visual-editor .hero-info {
    position: relative;
    margin-top: -90px;
    color: #fff;
    min-height: 100vh;
}

html .edit-post-visual-editor .hero-info__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #d8d8d8;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-info__bg--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-info__bg--mobile {
        display: none;
    }
}

html .edit-post-visual-editor .hero-info__bg img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

html .edit-post-visual-editor .hero-info__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 36vh 20px 50px;
    max-width: 720px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-info__center {
        max-width: 850px;
        padding-top: 29vh;
    }
}

html .edit-post-visual-editor .hero-info__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: 0.019em;
    margin-bottom: 35px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-info__title {
        font-size: 52px;
    }
}

html .edit-post-visual-editor .hero-info__btn {
    min-width: 232px;
    min-height: 43px;
    border: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.026em;
}

html .edit-post-visual-editor .hero-reviews {
    position: relative;
    margin-top: -90px;
    color: #fff;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .hero-reviews {
        margin-top: -92px;
    }
}

html .edit-post-visual-editor .hero-reviews__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #d8d8d8;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-reviews__bg--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-reviews__bg--mobile {
        display: none;
    }
}

html .edit-post-visual-editor .hero-reviews__bg img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

html .edit-post-visual-editor .hero-reviews__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 20px 60px;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .hero-reviews__center {
        padding: 200px 30px 80px;
    }
}

html .edit-post-visual-editor .hero-reviews__quote {
    width: 25px;
    height: 17px;
    fill: #fff;
    margin-bottom: 29px;
}

html .edit-post-visual-editor .hero-reviews__title {
    max-width: 810px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.019em;
    margin-bottom: 29px;
}

html .edit-post-visual-editor .hero-reviews__text {
    position: relative;
    max-width: 642px;
    margin-bottom: 30px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-reviews__text {
        margin-bottom: 60px;
    }
}

html .edit-post-visual-editor .hero-reviews__text:last-child {
    margin-bottom: 120px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-reviews__text:last-child {
        margin-bottom: 190px;
    }
}

html .edit-post-visual-editor .hero-reviews__arrow {
    display: block;
    width: 7px;
    height: 49px;
    fill: #fff;
}

html .edit-post-visual-editor .portfolio-slider__inner {
    padding: 64px 0 50px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .portfolio-slider__inner {
        display: flex;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__inner {
        padding: 132px 0 88px;
    }
}

html .edit-post-visual-editor .portfolio-slider__content {
    margin-bottom: 55px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .portfolio-slider__content {
        margin: 50px 30px 0 0;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__content {
        margin: 112px 116px 0 0;
        min-width: 276px;
    }
}

html .edit-post-visual-editor .portfolio-slider__title {
    font-size: 28px;
    line-height: 1.57;
    letter-spacing: 0.026em;
    margin-bottom: 15px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__title {
        font-size: 38px;
        line-height: 1.15;
        margin-bottom: 26px;
    }
}

html .edit-post-visual-editor .portfolio-slider__text {
    margin-bottom: 26px;
}

html .edit-post-visual-editor .portfolio-slider__btn {
    min-width: 232px;
    padding: 13px 36px;
    letter-spacing: 0.026em;
    font-size: 13px;
}

html .edit-post-visual-editor .portfolio-slider__container {
    margin-bottom: 40px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__container {
        margin-bottom: 116px;
    }
}

html .edit-post-visual-editor .portfolio-slider__item {
    max-width: 310px;
    margin-right: 24px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__item {
        max-width: 360px;
        margin-right: 98px;
    }
}

html .edit-post-visual-editor .portfolio-slider__img-wrapper {
    position: relative;
    background-color: red;
    width: 310px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__img-wrapper {
        width: 360px;
    }
}

html .edit-post-visual-editor .portfolio-slider__img-wrapper::after {
    content: '';
    display: block;
    padding-bottom: 131%;
}

html .edit-post-visual-editor .portfolio-slider__img-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

html .edit-post-visual-editor .portfolio-slider__item-text {
    font-size: 18px;
    line-height: 1.89;
    margin-top: 24px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider__item-text {
        margin-top: 20px;
    }
}

html .edit-post-visual-editor .portfolio-slider .swiper-container {
    overflow: visible;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .portfolio-slider .swiper-container {
        overflow: hidden;
    }
}

html .edit-post-visual-editor .portfolio-slider .swiper-container:not(.swiper-container-initialized) {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

html .edit-post-visual-editor .portfolio-slider .swiper-container:not(.swiper-container-initialized) .portfolio-slider__item {
    max-width: 100%;
}

@media (min-width: 768px) and (max-width: 998px) {
    html .edit-post-visual-editor .portfolio-slider .swiper-container:not(.swiper-container-initialized) .portfolio-slider__item {
        max-width: 50%;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .portfolio-slider .swiper-container:not(.swiper-container-initialized) .portfolio-slider__item {
        max-width: 33.333%;
    }
}

html .edit-post-visual-editor .portfolio-slider .swiper-container:not(.swiper-container-initialized) .portfolio-slider__img-wrapper {
    width: 100%;
}

html .edit-post-visual-editor .portfolio-slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .portfolio-slider__nav {
        position: absolute;
        right: 20px;
        width: 140px;
    }
}

html .edit-post-visual-editor .portfolio-slider .swiper-button-next,
html .edit-post-visual-editor .portfolio-slider .swiper-button-prev {
    position: relative;
    display: block;
    width: 57px;
    height: 100%;
    opacity: 1;
    background-color: transparent;
    top: 11px;
}

html .edit-post-visual-editor .portfolio-slider .swiper-button-next::after,
html .edit-post-visual-editor .portfolio-slider .swiper-button-prev::after {
    display: none;
}

html .edit-post-visual-editor .portfolio-slider .swiper-button-prev {
    left: 0;
}

html .edit-post-visual-editor .portfolio-slider .swiper-button-next {
    right: 0;
}

html .edit-post-visual-editor .portfolio-slider .swiper-button-disabled {
    opacity: .3;
}

html .edit-post-visual-editor .portfolio-slider .swiper-pagination {
    position: relative;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .portfolio-slider .swiper-pagination {
        display: none;
    }
}

html .edit-post-visual-editor .portfolio-slider .swiper-pagination-bullet {
    margin-right: 13px;
}

html .edit-post-visual-editor .portfolio-slider .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

html .edit-post-visual-editor .portfolio-slider .swiper-pagination-bullet-active {
    background: #000;
}

html .edit-post-visual-editor .promo {
    position: relative;
    background: #d8d8d8;
    min-height: 884px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo {
        flex-direction: row;
    }
}

html .edit-post-visual-editor .promo__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: url(./images/.jpg) no-repeat center/cover;*/
}

html .edit-post-visual-editor .promo__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #000, transparent);
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo__overlay {
        height: 100%;
        width: 60%;
        background: linear-gradient(to right, #000, transparent);
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .promo__overlay {
        width: 54%;
    }
}

html .edit-post-visual-editor .promo__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

html .edit-post-visual-editor .promo__content {
    position: relative;
    margin: 0 8px;
    padding-bottom: 150px;
    color: #fff;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo__content {
        max-width: 643px;
        margin: 0;
    }
}

html .edit-post-visual-editor .promo__title {
    font-size: 28px;
    line-height: 1.37;
    letter-spacing: 0.026em;
    margin-bottom: 14px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo__title {
        font-size: 38px;
        line-height: 1.2;
    }
}

html .edit-post-visual-editor .promo__text:nth-last-child(n+2) {
    margin-bottom: 20px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo__text {
        max-width: 363px;
    }
}

html .edit-post-visual-editor .promo__btn {
    color: inherit;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo--text-right .promo__center {
        align-items: flex-end;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .promo--text-right .promo__overlay {
        right: 0;
        left: auto;
        width: 67%;
        background: linear-gradient(to left, #000, transparent);
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .promo--text-right .promo__overlay {
        width: 60%;
    }
}

/*# sourceMappingURL=block-editor-styles.css.map */
