:root {
    --max-mobile-width: 767px;
    --min-tablet-width: 768px;
    --max-tablet-width: 998px;
    --min-laptop-width: 999px;
    --max-laptop-width: 1199px;
    --min-desktop-width: 1200px;
    --max-desktop-width: 1599px;
    --min-hd-width: 1600px;
    --sal-duration: 0.5s;
}

.edit-post-visual-editor.editor-styles-wrapper {
    /*overflow-x: hidden; */
}

.block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout.is-root-container {
    background: #fff;
    color: #000;
    font: 400 14px / 1.666 Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    /* Copied form basic.pcss */
}

@media (min-width: 768px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 16px;
    }
}

@media (min-width: 999px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 20px;
    }
}

.block-editor-block-list__layout.is-root-container input,
.block-editor-block-list__layout.is-root-container button {
    font: inherit;
    letter-spacing: inherit;
}

.block-editor-block-list__layout.is-root-container a:not(.acf-button):not(.acf-icon):not(.btn) {
    color: inherit;
    transition: .2s color ease-in-out;
    text-decoration: underline;
}

.block-editor-block-list__layout.is-root-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-editor-block-list__layout.is-root-container ::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container ::selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container .wrapper {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.block-editor-block-list__layout.is-root-container .anchor {
    display: block;
    line-height: 30px;
    opacity: 0.5;
    padding: 10px;
}

.wp-block {
    max-width: 1580px;
}

.wp-block[data-align=wide] {
    max-width: 1580px;
}

html .edit-post-visual-editor .hide {
    display: none !important;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 998px) {
    html .edit-post-visual-editor .hide-tablet {
        display: none !important;
    }
}

@media (min-width: 999px) and (max-width: 1199px) {
    html .edit-post-visual-editor .hide-laptop {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html .edit-post-visual-editor .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 1600px) {
    html .edit-post-visual-editor .hide-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .text-left {
    text-align: left;
}

html .edit-post-visual-editor .text-center {
    text-align: center;
}

html .edit-post-visual-editor .text-right {
    text-align: right;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .show-mobile {
        display: none !important;
    }
}

@media (max-width: 767px), (min-width: 999px) {
    html .edit-post-visual-editor .show-tablet {
        display: none !important;
    }
}

@media (max-width: 998px), (min-width: 1200px) {
    html .edit-post-visual-editor .show-laptop {
        display: none !important;
    }
}

@media (max-width: 1199px), (min-width: 1600px) {
    html .edit-post-visual-editor .show-desktop {
        display: none !important;
    }
}

@media (max-width: 1599px) {
    html .edit-post-visual-editor .show-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .center {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1355px;
    padding: 0 20px;
    position: relative;
}

html .edit-post-visual-editor .logo {
    font-family: 'Antiqua';
    font-weight: 400;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo {
        flex-direction: row;
        padding: 14px 0 12px;
    }
}

html .edit-post-visual-editor .logo__main {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.026em;
    padding-bottom: 1px;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__main {
        margin-right: 7px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__seconadary {
        font-size: 12px;
        padding-top: 5px;
    }
}

html .edit-post-visual-editor .logo-small {
    opacity: 0;
    visibility: hidden;
    margin-right: 38px;
    font-family: 'Antiqua';
    font-size: 22px;
    letter-spacing: 0.026em;
    line-height: 1.1;
    font-weight: 400;
    transform: translateX(-2em);
    transition: transform .3s .3s, opacity .5s;
    position: absolute;
    left: 0;
}

html .edit-post-visual-editor .title {
    font: 500 38px/1.2 'Antiqua', serif;
    text-transform: uppercase;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .title {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .title {
        font-size: 52px;
    }
}

html .edit-post-visual-editor .wysiwyg-content h2 {
    font: 600 28px/1.2 'Cormorant Garamond', serif;
}

html .edit-post-visual-editor .wysiwyg-content h3 {
    font-size: 18px;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn) {
    font-weight: 600;
    position: relative;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #8FCDB8;
    transition: transform .2s ease;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):hover:before {
    transform: translateY(-2px) scaleY(1.5);
}

html .edit-post-visual-editor .wysiwyg-content ul li {
    position: relative;
    padding-left: 22px;
}

html .edit-post-visual-editor .wysiwyg-content ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 11px;
    height: 12px;
    background: url("images/list-shape.png") no-repeat center/contain;
}

html .edit-post-visual-editor .wysiwyg-content ol li {
    margin: 0 0 21px 20px;
}

html .edit-post-visual-editor .wysiwyg-content ol li:last-child {
    margin-bottom: 0;
}

html .edit-post-visual-editor .wysiwyg-content img {
    display: block;
}

html .edit-post-visual-editor .feedback {
    min-height: 100vh;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .feedback {
        flex-direction: row;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback {
        min-height: 832px;
    }
}

html .edit-post-visual-editor .feedback__bg {
    background: #d8d8d8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html .edit-post-visual-editor .feedback__bg img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

html .edit-post-visual-editor .feedback__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

html .edit-post-visual-editor .feedback__content {
    color: #fff;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .feedback__content {
        max-width: 645px;
        padding-bottom: 67px;
    }
}

html .edit-post-visual-editor .feedback__content-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.8) 80%);
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .feedback__content-bg {
        height: 70%;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .feedback__content-bg {
        height: 50%;
        background: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.5) 80%);
    }
}

html .edit-post-visual-editor .feedback__quotemark {
    width: 25px;
    height: 17px;
    margin-bottom: 25px;
}

html .edit-post-visual-editor .feedback__quotemark-svg {
    fill: currentcolor;
}

html .edit-post-visual-editor .feedback__quote {
    margin: 0 0 8px;
}

html .edit-post-visual-editor .feedback__quote p {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .feedback__quote {
        -moz-column-count: 2;
             column-count: 2;
        -moz-column-gap: 30px;
             column-gap: 30px;
    }
}

html .edit-post-visual-editor .feedback__author {
    font-weight: 600;
    font-style: italic;
}

html .edit-post-visual-editor .feedback--slider {
    height: 800px;
    min-height: 800px;
}

html .edit-post-visual-editor .feedback--slider .feedback__content {
    max-width: 100%;
    padding-bottom: 0;
    margin: auto;
    width: 100%;
    height: 800px;
}

html .edit-post-visual-editor .feedback--slider .swiper-container {
    height: 100%;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .swiper-container {
        margin: 0;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__container {
    padding: 0 18px;
    margin-bottom: 102px;
    z-index: 1;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__container {
        margin-bottom: 52px;
        max-width: 643px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .feedback--slider .feedback__container {
        padding: 0 10px 0 57px;
        margin-bottom: 65px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__quote {
        margin: 0;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__author {
        margin-top: -19px;
    }
}

html .edit-post-visual-editor .feedback--slider .swiper-slide {
    background: lightgrey;
    display: flex;
    align-items: flex-end;
    position: relative;
}

html .edit-post-visual-editor .feedback--slider .feedback__slide-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

html .edit-post-visual-editor .feedback--slider .swiper-button-prev,
html .edit-post-visual-editor .feedback--slider .swiper-button-next {
    width: 56px;
    opacity: 1;
    color: #fff;
}

html .edit-post-visual-editor .feedback--slider .swiper-button-prev::after,
html .edit-post-visual-editor .feedback--slider .swiper-button-next::after {
    display: none;
}

html .edit-post-visual-editor .feedback--slider .swiper-button-prev {
    left: 20px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .swiper-button-prev {
        left: 0;
    }
}

html .edit-post-visual-editor .feedback--slider .swiper-button-next {
    right: 20px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .swiper-button-next {
        right: 0;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__nav-content {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 24px;
}

html .edit-post-visual-editor .feedback--slider .feedback__nav-content svg {
    fill: currentColor;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-content {
        bottom: 0;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-content {
        max-width: 298px;
        right: 4%;
        left: auto;
        z-index: 1;
        bottom: 50px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-content {
        bottom: 72px;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__nav-block {
    padding: 0 20px;
    display: none;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-block {
        display: block;
        margin-bottom: 55px;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-block {
        margin-bottom: 48px;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__nav-title {
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.026em;
    text-align: right;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-title {
        margin-bottom: 8px;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__nav-text {
    text-align: right;
    line-height: 1.71;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__nav-text {
        margin-right: 5px;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__slider-nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px auto;
    padding: 0 20px;
    max-width: 643px;
    /*width: 100%;*/
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .feedback--slider .feedback__slider-nav {
        max-width: 224px;
        padding: 0;
        margin: 0;
        margin-left: auto;
    }
}

html .edit-post-visual-editor .feedback--slider .feedback__numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

html .edit-post-visual-editor .feedback--slider .feedback__number {
    line-height: 1.21;
    min-width: 20px;
    padding: 0 5px;
}

html .edit-post-visual-editor .feedback--slider .feedback__slash {
    position: relative;
    width: 16px;
    height: 30px;
}

html .edit-post-visual-editor .feedback--slider .feedback__slash::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    transform: rotate(30deg);
    background-color: #fff;
}

html .edit-post-visual-editor .hero-info {
    position: relative;
    margin-top: -90px;
    color: #fff;
    min-height: 100vh;
}

html .edit-post-visual-editor .hero-info__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #d8d8d8;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-info__bg--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-info__bg--mobile {
        display: none;
    }
}

html .edit-post-visual-editor .hero-info__bg img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

html .edit-post-visual-editor .hero-info__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 36vh 20px 50px;
    max-width: 720px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-info__center {
        max-width: 850px;
        padding-top: 29vh;
    }
}

html .edit-post-visual-editor .hero-info__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: 0.019em;
    margin-bottom: 35px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-info__title {
        font-size: 52px;
    }
}

html .edit-post-visual-editor .hero-info__btn {
    min-width: 232px;
    min-height: 43px;
    border: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.026em;
}

/*# sourceMappingURL=block-editor-styles.css.map */
