:root {
    --max-mobile-width: 767px;
    --min-tablet-width: 768px;
    --max-tablet-width: 998px;
    --min-laptop-width: 999px;
    --max-laptop-width: 1199px;
    --min-desktop-width: 1200px;
    --max-desktop-width: 1599px;
    --min-hd-width: 1600px;
    --sal-duration: 0.5s;
}

.edit-post-visual-editor.editor-styles-wrapper {
    /*overflow-x: hidden; */
}

.block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout.is-root-container {
    background: #fff;
    color: #000;
    font: 400 14px / 1.666 Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    /* Copied form basic.pcss */
}

@media (min-width: 768px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 16px;
    }
}

@media (min-width: 999px) {
    .block-editor-block-list__layout.is-root-container {
        font-size: 20px;
    }
}

.block-editor-block-list__layout.is-root-container input,
.block-editor-block-list__layout.is-root-container button {
    font: inherit;
    letter-spacing: inherit;
}

.block-editor-block-list__layout.is-root-container a:not(.acf-button):not(.acf-icon):not(.btn) {
    color: inherit;
    transition: .2s color ease-in-out;
    text-decoration: underline;
}

.block-editor-block-list__layout.is-root-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-editor-block-list__layout.is-root-container ::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container ::selection {
    background: rgba(0, 0, 0, 0.2);
}

.block-editor-block-list__layout.is-root-container .wrapper {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.block-editor-block-list__layout.is-root-container .anchor {
    display: block;
    line-height: 30px;
    opacity: 0.5;
    padding: 10px;
}

.wp-block {
    max-width: 1580px;
}

.wp-block[data-align=wide] {
    max-width: 1580px;
}

html .edit-post-visual-editor .hide {
    display: none !important;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 998px) {
    html .edit-post-visual-editor .hide-tablet {
        display: none !important;
    }
}

@media (min-width: 999px) and (max-width: 1199px) {
    html .edit-post-visual-editor .hide-laptop {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html .edit-post-visual-editor .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 1600px) {
    html .edit-post-visual-editor .hide-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .text-left {
    text-align: left;
}

html .edit-post-visual-editor .text-center {
    text-align: center;
}

html .edit-post-visual-editor .text-right {
    text-align: right;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .show-mobile {
        display: none !important;
    }
}

@media (max-width: 767px), (min-width: 999px) {
    html .edit-post-visual-editor .show-tablet {
        display: none !important;
    }
}

@media (max-width: 998px), (min-width: 1200px) {
    html .edit-post-visual-editor .show-laptop {
        display: none !important;
    }
}

@media (max-width: 1199px), (min-width: 1600px) {
    html .edit-post-visual-editor .show-desktop {
        display: none !important;
    }
}

@media (max-width: 1599px) {
    html .edit-post-visual-editor .show-hd {
        display: none !important;
    }
}

html .edit-post-visual-editor .center {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1355px;
    padding: 0 20px;
    position: relative;
}

html .edit-post-visual-editor .logo {
    font-family: 'Antiqua';
    font-weight: 400;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo {
        flex-direction: row;
        padding: 14px 0 12px;
    }
}

html .edit-post-visual-editor .logo__main {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.026em;
    padding-bottom: 1px;
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__main {
        margin-right: 7px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .logo__seconadary {
        font-size: 12px;
        padding-top: 5px;
    }
}

html .edit-post-visual-editor .logo-small {
    opacity: 0;
    visibility: hidden;
    margin-right: 38px;
    font-family: 'Antiqua';
    font-size: 22px;
    letter-spacing: 0.026em;
    line-height: 1.1;
    font-weight: 400;
    transform: translateX(-2em);
    transition: transform .3s .3s, opacity .5s;
    position: absolute;
    left: 0;
}

html .edit-post-visual-editor .title {
    font: 500 38px/1.2 'Antiqua', serif;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .title {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .title {
        font-size: 52px;
    }
}

html .edit-post-visual-editor .wysiwyg-content h2 {
    font: 600 28px/1.2 'Cormorant Garamond', serif;
}

html .edit-post-visual-editor .wysiwyg-content h3 {
    font-size: 18px;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn) {
    font-weight: 600;
    position: relative;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #8FCDB8;
    transition: transform .2s ease;
}

html .edit-post-visual-editor .wysiwyg-content a:not(.btn):hover:before {
    transform: translateY(-2px) scaleY(1.5);
}

html .edit-post-visual-editor .wysiwyg-content ul li {
    position: relative;
    padding-left: 22px;
}

html .edit-post-visual-editor .wysiwyg-content ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 11px;
    height: 12px;
    background: url("images/list-shape.png") no-repeat center/contain;
}

html .edit-post-visual-editor .wysiwyg-content ol li {
    margin: 0 0 21px 20px;
}

html .edit-post-visual-editor .wysiwyg-content ol li:last-child {
    margin-bottom: 0;
}

html .edit-post-visual-editor .wysiwyg-content img {
    display: block;
}

html .edit-post-visual-editor .hero-about {
    position: relative;
    top: -90px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about {
        height: 1375px;
    }
}

html .edit-post-visual-editor .hero-about__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #d8d8d8;
    height: 736px;
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__bg {
        height: 1375px;
    }
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-about__bg--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__bg--mobile {
        display: none;
    }
}

html .edit-post-visual-editor .hero-about__content {
    position: relative;
}

@media (max-width: 998px) {
    html .edit-post-visual-editor .hero-about__content {
        padding-top: 736px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__content {
        max-width: 770px;
        width: 60%;
        background-color: #fff;
        top: 117px;
        margin-left: auto;
        padding: 54px 27px 40px 31px;
    }
}

@media (min-width: 1200px) {
    html .edit-post-visual-editor .hero-about__content {
        padding: 108px 54px 41px 63px;
    }
}

html .edit-post-visual-editor .hero-about__title {
    text-transform: uppercase;
    line-height: 1.12;
    top: 420px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__title {
        top: 512px;
    }
}

@media (max-width: 998px) {
    html .edit-post-visual-editor .hero-about__title {
        position: absolute;
        left: -9px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.012em;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__title {
        margin-bottom: 46px;
    }
}

html .edit-post-visual-editor .hero-about__top-text {
    border-bottom: 1px solid #F2F0EC;
}

@media (max-width: 998px) {
    html .edit-post-visual-editor .hero-about__top-text {
        margin: 23px 0 31px;
        padding-right: 5px;
    }
    html .edit-post-visual-editor .hero-about__top-text .hero-about__text:last-child {
        margin-bottom: 31px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__top-text {
        display: flex;
        padding-bottom: 40px;
    }
    html .edit-post-visual-editor .hero-about__top-text .hero-about__text {
        width: 50%;
        padding-right: 11px;
        margin-right: 17px;
    }
    html .edit-post-visual-editor .hero-about__top-text .hero-about__text:last-child {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 998px) {
    html .edit-post-visual-editor .hero-about__text {
        margin-bottom: 21px;
    }
}

@media (max-width: 998px) {
    html .edit-post-visual-editor .hero-about__bottom-text {
        margin-right: -5px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__bottom-text {
        margin-top: 39px;
    }
    html .edit-post-visual-editor .hero-about__bottom-text .hero-about__text {
        margin-bottom: 28px;
    }
}

html .edit-post-visual-editor .hero-about__items {
    padding-left: 1px;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__items {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-about__items-left {
        padding-top: 2px;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__items-left {
        width: 48%;
        border-right: 1px solid #F2F0EC;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__items-right {
        width: 50%;
        padding-left: 9px;
    }
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-about__items-right .hero-about__item:first-child {
        margin-bottom: 23px;
    }
}

html .edit-post-visual-editor .hero-about__item {
    padding-right: 20px;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-about__item {
        margin-bottom: 23px;
    }
    html .edit-post-visual-editor .hero-about__item:first-child {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-about__item {
        margin-bottom: 45px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__item {
        margin-bottom: 31px;
    }
}

html .edit-post-visual-editor .hero-about__item-title {
    color: #A4A3A3;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.51;
}

html .edit-post-visual-editor .hero-about__item-text {
    line-height: 2.18;
    letter-spacing: 0.026em;
}

html .edit-post-visual-editor .hero-about__bottom {
    text-align: center;
}

html .edit-post-visual-editor .hero-about__bottom-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

@media (max-width: 370px) {
    html .edit-post-visual-editor .hero-about__bottom-items {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    html .edit-post-visual-editor .hero-about__bottom-items {
        margin: 43px 19px 70px 0;
    }
}

@media (min-width: 451px) {
    html .edit-post-visual-editor .hero-about__bottom-items {
        margin: 43px auto 70px;
    }
}

@media (min-width: 999px) {
    html .edit-post-visual-editor .hero-about__bottom-items {
        margin: 43px auto 41px;
    }
}

@media (max-width: 370px) {
    html .edit-post-visual-editor .hero-about__bottom-item {
        margin-bottom: 20px;
    }
}

html .edit-post-visual-editor .hero-about__bottom-item:first-child {
    width: 71px;
    height: 33px;
}

html .edit-post-visual-editor .hero-about__bottom-item:nth-child(2) {
    width: 133px;
    height: 21px;
}

html .edit-post-visual-editor .hero-about__bottom-item:last-child {
    width: 82px;
    height: 29px;
}

html .edit-post-visual-editor .hero-info {
    position: relative;
}

html .edit-post-visual-editor .hero-info__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #d8d8d8;
}

@media (max-width: 767px) {
    html .edit-post-visual-editor .hero-info__bg--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    html .edit-post-visual-editor .hero-info__bg--mobile {
        display: none;
    }
}

/*# sourceMappingURL=block-editor-styles.css.map */
