.article-head {
  &__center {
    @media (--laptop-up) {
      padding: 0;
    }

    @media (--desktop-up) {
      right: 83px;
    }
  }

  &__title {
    line-height: 1.1;
    letter-spacing: 0.019em;
    margin-bottom: 0;

    @media (max-width: 350px) {
      font-size: 35px;
    }
  }
}
