.image-simple {
  margin-bottom: 25px;

  @media (--laptop-up) {
    margin-bottom: 45px;
  }

  .center {
    padding: 0;
  }

  &__inner {
    background: #d8d8d8;
  }

  img {
    display: block;
  }
}