.project-wysiwig {
  background: #f2f0ec;
  padding: 40px 0;

  &__center {
    max-width: 680px;
  }

  @media (--tablet-up) {
    padding: 60px 0 40px;
  }

  @media (--desktop-up) {
    padding: 100px 0 80px;
  }
}
